{% load i18n %}

{% block subject %}
{% blocktrans %} UMAP | Your password has succesfully changed! {% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% trans "Your account has been created and is ready to use!" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}

   
<div style="font-family: Arial, Helvetica, sans-serif; height: 300px;padding:10px 10px 20px 30px;background-color:#ffffff; width:500px;border-radius:10px;color:rgb(35, 35, 35);border-top:#373737 30px solid;border:#1d1d1d5e 1px solid; position:absolute;left: 50%; top: 50%;transform: translate(-50%, -50%);">
        
    <h4 style=" font-family: Arial, Helvetica, sans-serif;font-weight: 700; font-size:25px;">
       Wazap <span style="color: rgb(255, 204, 0);">Nigga</span>👋
    </h4>



    <p style="font-size: 15px;font-weight: 100;">Your password has succesfully changed!🎉 <br> have fun our UMAP.</p>

    <p  style="margin-top:20px; font-size: 14px;"><i>Thank you for choosing us,</i>  <br> <b style="color: #212121;font-weight: 700; font-size:20px; ">The UMAP team </b> </p>
</div>  

{% endblock html_body %}